<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is EJS home page</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita quod mollitia cum eligendi tenetur! Modi unde consequatur dolorum recusandae illo? Accusamus, accusantium. Molestias excepturi in animi non ratione vero, dolor inventore optio quae labore iusto nulla ducimus vitae consequuntur sint error corporis nam sed facilis eaque nostrum officia culpa ut repellendus? Ex autem reiciendis earum, officia quas dolor adipisci, cupiditate officiis nihil itaque unde odio distinctio totam natus dicta facere ut est exercitationem consequatur perferendis esse, maiores odit ducimus saepe! Minima, nemo molestias itaque aliquid, nulla vel nesciunt dolore assumenda officiis illum necessitatibus dignissimos voluptate voluptas ipsam perspiciatis praesentium culpa!</p>

    <button>Click Me</button>
</body>
</html>