<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete User</title>
</head>
<body>
    <h2>Fill the below information to remove the user : </h2>

    <h4>To delete this user : <%= user.email %>, enter password </h4>

    <form action="/users/<%= user.id %>?_method=DELETE" method="post">
        <input type="password" name="password" placeholder="enter password">
        <button>Remove User</button>
    </form>
</body>
</html>