<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
</head>
<body>

    <h2>Create your chat here : </h2>

    <form action="/chats" method="post">
        <input type="text" name="from" placeholder="From">

        <br> <br>

        <textarea name="message" placeholder="Enter your message here..."></textarea>

        <br> <br>

        <input type="text" name="to" placeholder="Receiver">

        <br> <br>

        <button>Create Chat</button>
    </form>
</body>
</html>